.sportarea-name{
    font-size: 32px;
}

.sportarea-location{
    margin-top: 10px;
    font-size: 14px;
}

.sportarea-description{
    font-size: 14px;
}

.facilities{
    border: 1px solid #A6A6A6;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.facilities-text{
    font-size: 18px;
}

.facilities-item{
    font-size: 14px;
    display: flex;
    align-items: center;
}

.sportarea-image-container{
    display: flex;
    /* justify-content: space-between; */
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 13px;
}

:where(.css-dev-only-do-not-override-18iikkb) .ant-image-preview-operations, :where(.css-dev-only-do-not-override-18iikkb) .ant-image-preview-close{
    display: none;
}