.resetSuccessPage {
  background-image: url("/src/pictures/background_sportgo.jpg");
  background-size: 100% 100%;
  background-position: center;
  width: 1440px;
  height: 1024px;
  font-family: "Poppins", sans-serif;
}

.resetSuccessPage-block {
  width: 600px;
  height: 372px;
  border-radius: 10px;
  background: #dbd7fd;
  margin-left: 80%;
  margin-top: 326px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resetSuccessPage-logoName {
  background-color: black;
  width: 258px;
  height: 67px;
  color: white;
  font-weight: 800;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin-top: 62px;
  margin-left: 55px;
}

.resetSuccessPage-backToLogin {
  display: flex;
  background-color: #5729ce;
  margin-top: 10px;
  color: white;
  text-decoration: none;
  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.resetSuccessPage-pic {
  width: 120px;
  height: 120px;
  background-image: url("/src/pictures/success.png");
  background-size: 100% 100%;
  background-position: center;
}
