.reset-password-page {
  background-image: url("/src/pictures/background_sportgo.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-width: 100%;
}

.sport-go-logo {
  background-color: black;
  width: 258px;
  height: 67px;
  color: white;
  font-weight: 800;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin-top: 62px;
  margin-left: 55px;
}

.sport-go-text {
  color: #988cff;
}

.reset-password-page-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
